/* _reset.scss */
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  background: none;
  outline-width: 0; }

html, body {
  width: 100%;
  height: 100%; }

body {
  padding: 0.2em; }

div, input, span {
  font: 14px arial; }

h1, h2, h3, h4, h5, h6 {
  font-family: arial; }

.wo .fill-x {
  width: 100%; }

.noselect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; }

.hidden {
  display: none; }

.avg-1 {
  width: 100%; }

.avg-2 {
  width: 50%; }

.avg-3 {
  width: 33.33333%; }

.avg-4 {
  width: 25%; }

.avg-5 {
  width: 20%; }

.avg-6 {
  width: 16.66667%; }

.avg-7 {
  width: 14.28571%; }

.avg-8 {
  width: 12.5%; }

.avg-9 {
  width: 11.11111%; }

.avg-10 {
  width: 10%; }

.avg-11 {
  width: 9.09091%; }

.avg-12 {
  width: 8.33333%; }

@media (min-width: 0px) {
  .wo .col-phone-p-1 {
    width: 8.33333%;
    padding: 0;
    float: left; }
  .wo .skip-phone-p-1 {
    margin-left: 8.33333%; }
  .wo .lb-phone-p-1 .wo-label {
    width: 8.33333%; }
  .wo .wg-phone-p-1 .wo-widget {
    width: 8.33333%; } }

@media (min-width: 0px) {
  .wo .col-phone-p-2 {
    width: 16.66667%;
    padding: 0;
    float: left; }
  .wo .skip-phone-p-2 {
    margin-left: 16.66667%; }
  .wo .lb-phone-p-2 .wo-label {
    width: 16.66667%; }
  .wo .wg-phone-p-2 .wo-widget {
    width: 16.66667%; } }

@media (min-width: 0px) {
  .wo .col-phone-p-3 {
    width: 25%;
    padding: 0;
    float: left; }
  .wo .skip-phone-p-3 {
    margin-left: 25%; }
  .wo .lb-phone-p-3 .wo-label {
    width: 25%; }
  .wo .wg-phone-p-3 .wo-widget {
    width: 25%; } }

@media (min-width: 0px) {
  .wo .col-phone-p-4 {
    width: 33.33333%;
    padding: 0;
    float: left; }
  .wo .skip-phone-p-4 {
    margin-left: 33.33333%; }
  .wo .lb-phone-p-4 .wo-label {
    width: 33.33333%; }
  .wo .wg-phone-p-4 .wo-widget {
    width: 33.33333%; } }

@media (min-width: 0px) {
  .wo .col-phone-p-5 {
    width: 41.66667%;
    padding: 0;
    float: left; }
  .wo .skip-phone-p-5 {
    margin-left: 41.66667%; }
  .wo .lb-phone-p-5 .wo-label {
    width: 41.66667%; }
  .wo .wg-phone-p-5 .wo-widget {
    width: 41.66667%; } }

@media (min-width: 0px) {
  .wo .col-phone-p-6 {
    width: 50%;
    padding: 0;
    float: left; }
  .wo .skip-phone-p-6 {
    margin-left: 50%; }
  .wo .lb-phone-p-6 .wo-label {
    width: 50%; }
  .wo .wg-phone-p-6 .wo-widget {
    width: 50%; } }

@media (min-width: 0px) {
  .wo .col-phone-p-7 {
    width: 58.33333%;
    padding: 0;
    float: left; }
  .wo .skip-phone-p-7 {
    margin-left: 58.33333%; }
  .wo .lb-phone-p-7 .wo-label {
    width: 58.33333%; }
  .wo .wg-phone-p-7 .wo-widget {
    width: 58.33333%; } }

@media (min-width: 0px) {
  .wo .col-phone-p-8 {
    width: 66.66667%;
    padding: 0;
    float: left; }
  .wo .skip-phone-p-8 {
    margin-left: 66.66667%; }
  .wo .lb-phone-p-8 .wo-label {
    width: 66.66667%; }
  .wo .wg-phone-p-8 .wo-widget {
    width: 66.66667%; } }

@media (min-width: 0px) {
  .wo .col-phone-p-9 {
    width: 75%;
    padding: 0;
    float: left; }
  .wo .skip-phone-p-9 {
    margin-left: 75%; }
  .wo .lb-phone-p-9 .wo-label {
    width: 75%; }
  .wo .wg-phone-p-9 .wo-widget {
    width: 75%; } }

@media (min-width: 0px) {
  .wo .col-phone-p-10 {
    width: 83.33333%;
    padding: 0;
    float: left; }
  .wo .skip-phone-p-10 {
    margin-left: 83.33333%; }
  .wo .lb-phone-p-10 .wo-label {
    width: 83.33333%; }
  .wo .wg-phone-p-10 .wo-widget {
    width: 83.33333%; } }

@media (min-width: 0px) {
  .wo .col-phone-p-11 {
    width: 91.66667%;
    padding: 0;
    float: left; }
  .wo .skip-phone-p-11 {
    margin-left: 91.66667%; }
  .wo .lb-phone-p-11 .wo-label {
    width: 91.66667%; }
  .wo .wg-phone-p-11 .wo-widget {
    width: 91.66667%; } }

@media (min-width: 0px) {
  .wo .col-phone-p-12 {
    width: 100%;
    padding: 0;
    float: left; }
  .wo .skip-phone-p-12 {
    margin-left: 100%; }
  .wo .lb-phone-p-12 .wo-label {
    width: 100%; }
  .wo .wg-phone-p-12 .wo-widget {
    width: 100%; } }

@media (min-width: 480px) {
  .wo .col-phone-l-1 {
    width: 8.33333%;
    padding: 0;
    float: left; }
  .wo .skip-phone-l-1 {
    margin-left: 8.33333%; }
  .wo .lb-phone-l-1 .wo-label {
    width: 8.33333%; }
  .wo .wg-phone-l-1 .wo-widget {
    width: 8.33333%; } }

@media (min-width: 480px) {
  .wo .col-phone-l-2 {
    width: 16.66667%;
    padding: 0;
    float: left; }
  .wo .skip-phone-l-2 {
    margin-left: 16.66667%; }
  .wo .lb-phone-l-2 .wo-label {
    width: 16.66667%; }
  .wo .wg-phone-l-2 .wo-widget {
    width: 16.66667%; } }

@media (min-width: 480px) {
  .wo .col-phone-l-3 {
    width: 25%;
    padding: 0;
    float: left; }
  .wo .skip-phone-l-3 {
    margin-left: 25%; }
  .wo .lb-phone-l-3 .wo-label {
    width: 25%; }
  .wo .wg-phone-l-3 .wo-widget {
    width: 25%; } }

@media (min-width: 480px) {
  .wo .col-phone-l-4 {
    width: 33.33333%;
    padding: 0;
    float: left; }
  .wo .skip-phone-l-4 {
    margin-left: 33.33333%; }
  .wo .lb-phone-l-4 .wo-label {
    width: 33.33333%; }
  .wo .wg-phone-l-4 .wo-widget {
    width: 33.33333%; } }

@media (min-width: 480px) {
  .wo .col-phone-l-5 {
    width: 41.66667%;
    padding: 0;
    float: left; }
  .wo .skip-phone-l-5 {
    margin-left: 41.66667%; }
  .wo .lb-phone-l-5 .wo-label {
    width: 41.66667%; }
  .wo .wg-phone-l-5 .wo-widget {
    width: 41.66667%; } }

@media (min-width: 480px) {
  .wo .col-phone-l-6 {
    width: 50%;
    padding: 0;
    float: left; }
  .wo .skip-phone-l-6 {
    margin-left: 50%; }
  .wo .lb-phone-l-6 .wo-label {
    width: 50%; }
  .wo .wg-phone-l-6 .wo-widget {
    width: 50%; } }

@media (min-width: 480px) {
  .wo .col-phone-l-7 {
    width: 58.33333%;
    padding: 0;
    float: left; }
  .wo .skip-phone-l-7 {
    margin-left: 58.33333%; }
  .wo .lb-phone-l-7 .wo-label {
    width: 58.33333%; }
  .wo .wg-phone-l-7 .wo-widget {
    width: 58.33333%; } }

@media (min-width: 480px) {
  .wo .col-phone-l-8 {
    width: 66.66667%;
    padding: 0;
    float: left; }
  .wo .skip-phone-l-8 {
    margin-left: 66.66667%; }
  .wo .lb-phone-l-8 .wo-label {
    width: 66.66667%; }
  .wo .wg-phone-l-8 .wo-widget {
    width: 66.66667%; } }

@media (min-width: 480px) {
  .wo .col-phone-l-9 {
    width: 75%;
    padding: 0;
    float: left; }
  .wo .skip-phone-l-9 {
    margin-left: 75%; }
  .wo .lb-phone-l-9 .wo-label {
    width: 75%; }
  .wo .wg-phone-l-9 .wo-widget {
    width: 75%; } }

@media (min-width: 480px) {
  .wo .col-phone-l-10 {
    width: 83.33333%;
    padding: 0;
    float: left; }
  .wo .skip-phone-l-10 {
    margin-left: 83.33333%; }
  .wo .lb-phone-l-10 .wo-label {
    width: 83.33333%; }
  .wo .wg-phone-l-10 .wo-widget {
    width: 83.33333%; } }

@media (min-width: 480px) {
  .wo .col-phone-l-11 {
    width: 91.66667%;
    padding: 0;
    float: left; }
  .wo .skip-phone-l-11 {
    margin-left: 91.66667%; }
  .wo .lb-phone-l-11 .wo-label {
    width: 91.66667%; }
  .wo .wg-phone-l-11 .wo-widget {
    width: 91.66667%; } }

@media (min-width: 480px) {
  .wo .col-phone-l-12 {
    width: 100%;
    padding: 0;
    float: left; }
  .wo .skip-phone-l-12 {
    margin-left: 100%; }
  .wo .lb-phone-l-12 .wo-label {
    width: 100%; }
  .wo .wg-phone-l-12 .wo-widget {
    width: 100%; } }

@media (min-width: 768px) {
  .wo .col-tablet-p-1 {
    width: 8.33333%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-p-1 {
    margin-left: 8.33333%; }
  .wo .lb-tablet-p-1 .wo-label {
    width: 8.33333%; }
  .wo .wg-tablet-p-1 .wo-widget {
    width: 8.33333%; } }

@media (min-width: 768px) {
  .wo .col-tablet-p-2 {
    width: 16.66667%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-p-2 {
    margin-left: 16.66667%; }
  .wo .lb-tablet-p-2 .wo-label {
    width: 16.66667%; }
  .wo .wg-tablet-p-2 .wo-widget {
    width: 16.66667%; } }

@media (min-width: 768px) {
  .wo .col-tablet-p-3 {
    width: 25%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-p-3 {
    margin-left: 25%; }
  .wo .lb-tablet-p-3 .wo-label {
    width: 25%; }
  .wo .wg-tablet-p-3 .wo-widget {
    width: 25%; } }

@media (min-width: 768px) {
  .wo .col-tablet-p-4 {
    width: 33.33333%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-p-4 {
    margin-left: 33.33333%; }
  .wo .lb-tablet-p-4 .wo-label {
    width: 33.33333%; }
  .wo .wg-tablet-p-4 .wo-widget {
    width: 33.33333%; } }

@media (min-width: 768px) {
  .wo .col-tablet-p-5 {
    width: 41.66667%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-p-5 {
    margin-left: 41.66667%; }
  .wo .lb-tablet-p-5 .wo-label {
    width: 41.66667%; }
  .wo .wg-tablet-p-5 .wo-widget {
    width: 41.66667%; } }

@media (min-width: 768px) {
  .wo .col-tablet-p-6 {
    width: 50%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-p-6 {
    margin-left: 50%; }
  .wo .lb-tablet-p-6 .wo-label {
    width: 50%; }
  .wo .wg-tablet-p-6 .wo-widget {
    width: 50%; } }

@media (min-width: 768px) {
  .wo .col-tablet-p-7 {
    width: 58.33333%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-p-7 {
    margin-left: 58.33333%; }
  .wo .lb-tablet-p-7 .wo-label {
    width: 58.33333%; }
  .wo .wg-tablet-p-7 .wo-widget {
    width: 58.33333%; } }

@media (min-width: 768px) {
  .wo .col-tablet-p-8 {
    width: 66.66667%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-p-8 {
    margin-left: 66.66667%; }
  .wo .lb-tablet-p-8 .wo-label {
    width: 66.66667%; }
  .wo .wg-tablet-p-8 .wo-widget {
    width: 66.66667%; } }

@media (min-width: 768px) {
  .wo .col-tablet-p-9 {
    width: 75%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-p-9 {
    margin-left: 75%; }
  .wo .lb-tablet-p-9 .wo-label {
    width: 75%; }
  .wo .wg-tablet-p-9 .wo-widget {
    width: 75%; } }

@media (min-width: 768px) {
  .wo .col-tablet-p-10 {
    width: 83.33333%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-p-10 {
    margin-left: 83.33333%; }
  .wo .lb-tablet-p-10 .wo-label {
    width: 83.33333%; }
  .wo .wg-tablet-p-10 .wo-widget {
    width: 83.33333%; } }

@media (min-width: 768px) {
  .wo .col-tablet-p-11 {
    width: 91.66667%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-p-11 {
    margin-left: 91.66667%; }
  .wo .lb-tablet-p-11 .wo-label {
    width: 91.66667%; }
  .wo .wg-tablet-p-11 .wo-widget {
    width: 91.66667%; } }

@media (min-width: 768px) {
  .wo .col-tablet-p-12 {
    width: 100%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-p-12 {
    margin-left: 100%; }
  .wo .lb-tablet-p-12 .wo-label {
    width: 100%; }
  .wo .wg-tablet-p-12 .wo-widget {
    width: 100%; } }

@media (min-width: 1024px) {
  .wo .col-tablet-l-1 {
    width: 8.33333%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-l-1 {
    margin-left: 8.33333%; }
  .wo .lb-tablet-l-1 .wo-label {
    width: 8.33333%; }
  .wo .wg-tablet-l-1 .wo-widget {
    width: 8.33333%; } }

@media (min-width: 1024px) {
  .wo .col-tablet-l-2 {
    width: 16.66667%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-l-2 {
    margin-left: 16.66667%; }
  .wo .lb-tablet-l-2 .wo-label {
    width: 16.66667%; }
  .wo .wg-tablet-l-2 .wo-widget {
    width: 16.66667%; } }

@media (min-width: 1024px) {
  .wo .col-tablet-l-3 {
    width: 25%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-l-3 {
    margin-left: 25%; }
  .wo .lb-tablet-l-3 .wo-label {
    width: 25%; }
  .wo .wg-tablet-l-3 .wo-widget {
    width: 25%; } }

@media (min-width: 1024px) {
  .wo .col-tablet-l-4 {
    width: 33.33333%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-l-4 {
    margin-left: 33.33333%; }
  .wo .lb-tablet-l-4 .wo-label {
    width: 33.33333%; }
  .wo .wg-tablet-l-4 .wo-widget {
    width: 33.33333%; } }

@media (min-width: 1024px) {
  .wo .col-tablet-l-5 {
    width: 41.66667%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-l-5 {
    margin-left: 41.66667%; }
  .wo .lb-tablet-l-5 .wo-label {
    width: 41.66667%; }
  .wo .wg-tablet-l-5 .wo-widget {
    width: 41.66667%; } }

@media (min-width: 1024px) {
  .wo .col-tablet-l-6 {
    width: 50%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-l-6 {
    margin-left: 50%; }
  .wo .lb-tablet-l-6 .wo-label {
    width: 50%; }
  .wo .wg-tablet-l-6 .wo-widget {
    width: 50%; } }

@media (min-width: 1024px) {
  .wo .col-tablet-l-7 {
    width: 58.33333%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-l-7 {
    margin-left: 58.33333%; }
  .wo .lb-tablet-l-7 .wo-label {
    width: 58.33333%; }
  .wo .wg-tablet-l-7 .wo-widget {
    width: 58.33333%; } }

@media (min-width: 1024px) {
  .wo .col-tablet-l-8 {
    width: 66.66667%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-l-8 {
    margin-left: 66.66667%; }
  .wo .lb-tablet-l-8 .wo-label {
    width: 66.66667%; }
  .wo .wg-tablet-l-8 .wo-widget {
    width: 66.66667%; } }

@media (min-width: 1024px) {
  .wo .col-tablet-l-9 {
    width: 75%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-l-9 {
    margin-left: 75%; }
  .wo .lb-tablet-l-9 .wo-label {
    width: 75%; }
  .wo .wg-tablet-l-9 .wo-widget {
    width: 75%; } }

@media (min-width: 1024px) {
  .wo .col-tablet-l-10 {
    width: 83.33333%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-l-10 {
    margin-left: 83.33333%; }
  .wo .lb-tablet-l-10 .wo-label {
    width: 83.33333%; }
  .wo .wg-tablet-l-10 .wo-widget {
    width: 83.33333%; } }

@media (min-width: 1024px) {
  .wo .col-tablet-l-11 {
    width: 91.66667%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-l-11 {
    margin-left: 91.66667%; }
  .wo .lb-tablet-l-11 .wo-label {
    width: 91.66667%; }
  .wo .wg-tablet-l-11 .wo-widget {
    width: 91.66667%; } }

@media (min-width: 1024px) {
  .wo .col-tablet-l-12 {
    width: 100%;
    padding: 0;
    float: left; }
  .wo .skip-tablet-l-12 {
    margin-left: 100%; }
  .wo .lb-tablet-l-12 .wo-label {
    width: 100%; }
  .wo .wg-tablet-l-12 .wo-widget {
    width: 100%; } }

@media (min-width: 1280px) {
  .wo .col-desktop-1 {
    width: 8.33333%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-1 {
    margin-left: 8.33333%; }
  .wo .lb-desktop-1 .wo-label {
    width: 8.33333%; }
  .wo .wg-desktop-1 .wo-widget {
    width: 8.33333%; } }

@media (min-width: 1280px) {
  .wo .col-desktop-2 {
    width: 16.66667%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-2 {
    margin-left: 16.66667%; }
  .wo .lb-desktop-2 .wo-label {
    width: 16.66667%; }
  .wo .wg-desktop-2 .wo-widget {
    width: 16.66667%; } }

@media (min-width: 1280px) {
  .wo .col-desktop-3 {
    width: 25%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-3 {
    margin-left: 25%; }
  .wo .lb-desktop-3 .wo-label {
    width: 25%; }
  .wo .wg-desktop-3 .wo-widget {
    width: 25%; } }

@media (min-width: 1280px) {
  .wo .col-desktop-4 {
    width: 33.33333%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-4 {
    margin-left: 33.33333%; }
  .wo .lb-desktop-4 .wo-label {
    width: 33.33333%; }
  .wo .wg-desktop-4 .wo-widget {
    width: 33.33333%; } }

@media (min-width: 1280px) {
  .wo .col-desktop-5 {
    width: 41.66667%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-5 {
    margin-left: 41.66667%; }
  .wo .lb-desktop-5 .wo-label {
    width: 41.66667%; }
  .wo .wg-desktop-5 .wo-widget {
    width: 41.66667%; } }

@media (min-width: 1280px) {
  .wo .col-desktop-6 {
    width: 50%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-6 {
    margin-left: 50%; }
  .wo .lb-desktop-6 .wo-label {
    width: 50%; }
  .wo .wg-desktop-6 .wo-widget {
    width: 50%; } }

@media (min-width: 1280px) {
  .wo .col-desktop-7 {
    width: 58.33333%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-7 {
    margin-left: 58.33333%; }
  .wo .lb-desktop-7 .wo-label {
    width: 58.33333%; }
  .wo .wg-desktop-7 .wo-widget {
    width: 58.33333%; } }

@media (min-width: 1280px) {
  .wo .col-desktop-8 {
    width: 66.66667%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-8 {
    margin-left: 66.66667%; }
  .wo .lb-desktop-8 .wo-label {
    width: 66.66667%; }
  .wo .wg-desktop-8 .wo-widget {
    width: 66.66667%; } }

@media (min-width: 1280px) {
  .wo .col-desktop-9 {
    width: 75%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-9 {
    margin-left: 75%; }
  .wo .lb-desktop-9 .wo-label {
    width: 75%; }
  .wo .wg-desktop-9 .wo-widget {
    width: 75%; } }

@media (min-width: 1280px) {
  .wo .col-desktop-10 {
    width: 83.33333%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-10 {
    margin-left: 83.33333%; }
  .wo .lb-desktop-10 .wo-label {
    width: 83.33333%; }
  .wo .wg-desktop-10 .wo-widget {
    width: 83.33333%; } }

@media (min-width: 1280px) {
  .wo .col-desktop-11 {
    width: 91.66667%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-11 {
    margin-left: 91.66667%; }
  .wo .lb-desktop-11 .wo-label {
    width: 91.66667%; }
  .wo .wg-desktop-11 .wo-widget {
    width: 91.66667%; } }

@media (min-width: 1280px) {
  .wo .col-desktop-12 {
    width: 100%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-12 {
    margin-left: 100%; }
  .wo .lb-desktop-12 .wo-label {
    width: 100%; }
  .wo .wg-desktop-12 .wo-widget {
    width: 100%; } }

@media (min-width: 1440px) {
  .wo .col-desktop-lg-1 {
    width: 8.33333%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-lg-1 {
    margin-left: 8.33333%; }
  .wo .lb-desktop-lg-1 .wo-label {
    width: 8.33333%; }
  .wo .wg-desktop-lg-1 .wo-widget {
    width: 8.33333%; } }

@media (min-width: 1440px) {
  .wo .col-desktop-lg-2 {
    width: 16.66667%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-lg-2 {
    margin-left: 16.66667%; }
  .wo .lb-desktop-lg-2 .wo-label {
    width: 16.66667%; }
  .wo .wg-desktop-lg-2 .wo-widget {
    width: 16.66667%; } }

@media (min-width: 1440px) {
  .wo .col-desktop-lg-3 {
    width: 25%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-lg-3 {
    margin-left: 25%; }
  .wo .lb-desktop-lg-3 .wo-label {
    width: 25%; }
  .wo .wg-desktop-lg-3 .wo-widget {
    width: 25%; } }

@media (min-width: 1440px) {
  .wo .col-desktop-lg-4 {
    width: 33.33333%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-lg-4 {
    margin-left: 33.33333%; }
  .wo .lb-desktop-lg-4 .wo-label {
    width: 33.33333%; }
  .wo .wg-desktop-lg-4 .wo-widget {
    width: 33.33333%; } }

@media (min-width: 1440px) {
  .wo .col-desktop-lg-5 {
    width: 41.66667%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-lg-5 {
    margin-left: 41.66667%; }
  .wo .lb-desktop-lg-5 .wo-label {
    width: 41.66667%; }
  .wo .wg-desktop-lg-5 .wo-widget {
    width: 41.66667%; } }

@media (min-width: 1440px) {
  .wo .col-desktop-lg-6 {
    width: 50%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-lg-6 {
    margin-left: 50%; }
  .wo .lb-desktop-lg-6 .wo-label {
    width: 50%; }
  .wo .wg-desktop-lg-6 .wo-widget {
    width: 50%; } }

@media (min-width: 1440px) {
  .wo .col-desktop-lg-7 {
    width: 58.33333%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-lg-7 {
    margin-left: 58.33333%; }
  .wo .lb-desktop-lg-7 .wo-label {
    width: 58.33333%; }
  .wo .wg-desktop-lg-7 .wo-widget {
    width: 58.33333%; } }

@media (min-width: 1440px) {
  .wo .col-desktop-lg-8 {
    width: 66.66667%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-lg-8 {
    margin-left: 66.66667%; }
  .wo .lb-desktop-lg-8 .wo-label {
    width: 66.66667%; }
  .wo .wg-desktop-lg-8 .wo-widget {
    width: 66.66667%; } }

@media (min-width: 1440px) {
  .wo .col-desktop-lg-9 {
    width: 75%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-lg-9 {
    margin-left: 75%; }
  .wo .lb-desktop-lg-9 .wo-label {
    width: 75%; }
  .wo .wg-desktop-lg-9 .wo-widget {
    width: 75%; } }

@media (min-width: 1440px) {
  .wo .col-desktop-lg-10 {
    width: 83.33333%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-lg-10 {
    margin-left: 83.33333%; }
  .wo .lb-desktop-lg-10 .wo-label {
    width: 83.33333%; }
  .wo .wg-desktop-lg-10 .wo-widget {
    width: 83.33333%; } }

@media (min-width: 1440px) {
  .wo .col-desktop-lg-11 {
    width: 91.66667%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-lg-11 {
    margin-left: 91.66667%; }
  .wo .lb-desktop-lg-11 .wo-label {
    width: 91.66667%; }
  .wo .wg-desktop-lg-11 .wo-widget {
    width: 91.66667%; } }

@media (min-width: 1440px) {
  .wo .col-desktop-lg-12 {
    width: 100%;
    padding: 0;
    float: left; }
  .wo .skip-desktop-lg-12 {
    margin-left: 100%; }
  .wo .lb-desktop-lg-12 .wo-label {
    width: 100%; }
  .wo .wg-desktop-lg-12 .wo-widget {
    width: 100%; } }

.wo.test body, .wo .test body {
  background-color: white; }

.wo.test .wo-widget, .wo .test .wo-widget {
  border: solid 1px blue; }

.wo.test .wo-widget input, .wo.test .wo-widget-content, .wo .test .wo-widget input, .wo .test .wo-widget-content {
  border: solid 1px green; }

.wo.test .wo-boundary, .wo .test .wo-boundary {
  border: solid 1px red; }

.wo.test .wo-boundary .toggle, .wo .test .wo-boundary .toggle {
  border: solid 1px silver; }

.wo.test .wo-widget .toggle svg, .wo.test .wo-widget .toggle svg *
, .wo.test .wo-menu-item .toggle svg, .wo.test .wo-menu-item .toggle svg *, .wo .test .wo-widget .toggle svg, .wo .test .wo-widget .toggle svg *
, .wo .test .wo-menu-item .toggle svg, .wo .test .wo-menu-item .toggle svg * {
  color: #888;
  fill: #888;
  stroke: #888;
  stroke-width: 2px; }

.wo.test .wo-menu-item, .wo .test .wo-menu-item {
  border: solid 1px silver; }

.wo.test .wo-menu-item:hover, .wo.test .wo-menu-item:active, .wo .test .wo-menu-item:hover, .wo .test .wo-menu-item:active {
  background: silver; }

body.wo.nb, .wo body.nb {
  background: radial-gradient(#5291BB, #29517c);
  /* Standard syntax */
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgba(255, 255, 255, 0.9); }

.wo.nb .disabled, .wo.nb .disabled *, .wo .nb .disabled, .wo .nb .disabled * {
  color: rgba(255, 255, 255, 0.4); }

.wo.nb input, .wo .nb input {
  color: rgba(255, 255, 255, 0.9); }

.wo.nb .wo-bg, .wo .nb .wo-bg {
  background: rgba(200, 200, 200, 0.2); }

.wo.nb .wo-bg-fixed, .wo .nb .wo-bg-fixed {
  background: #50759A; }

.wo.nb .wo-border-bottom, .wo .nb .wo-border-bottom {
  border-bottom: solid 1px rgba(231, 231, 231, 0.5); }

.wo.nb .wo-border-top, .wo .nb .wo-border-top {
  border-top: solid 1px rgba(231, 231, 231, 0.5); }

.wo.nb .wo-border-left, .wo .nb .wo-border-left {
  border-left: solid 1px rgba(231, 231, 231, 0.5); }

.wo.nb .wo-border-right, .wo .nb .wo-border-right {
  border-right: solid 1px rgba(231, 231, 231, 0.5); }

.wo.nb .wo-button-group .wo-item-last .wo-button, .wo.nb .wo-button-group .wo-item-middle .wo-button, .wo .nb .wo-button-group .wo-item-last .wo-button, .wo .nb .wo-button-group .wo-item-middle .wo-button {
  border-left: solid 1px rgba(231, 231, 231, 0.5); }

.wo.nb .wo-button-group .wo-item-first.wo-item-last .wo-button, .wo .nb .wo-button-group .wo-item-first.wo-item-last .wo-button {
  border-left: none; }

.wo.nb .wo-button:hover, .wo .nb .wo-button:hover {
  background: #417DBC; }

.wo.nb .wo-widget, .wo .nb .wo-widget {
  border: solid 1px rgba(231, 231, 231, 0.5);
  background: rgba(43, 83, 126, 0.1); }

.wo.nb .wo-widget:hover, .wo.nb .wo-container:hover, .wo .nb .wo-widget:hover, .wo .nb .wo-container:hover {
  border-color: rgba(231, 231, 231, 0.6); }

.wo.nb .wo-boundary .toggle, .wo .nb .wo-boundary .toggle {
  border: solid 0px silver; }

.wo.nb svg, .wo.nb svg *, .wo .nb svg, .wo .nb svg * {
  color: rgba(231, 231, 231, 0.5);
  fill: rgba(231, 231, 231, 0.5);
  stroke: rgba(231, 231, 231, 0.5);
  stroke-width: 2px; }

.wo.nb .wo-watermark svg, .wo.nb .wo-watermark svg *, .wo .nb .wo-watermark svg, .wo .nb .wo-watermark svg * {
  color: rgba(0, 0, 0, 0.25);
  fill: rgba(0, 0, 0, 0.25);
  stroke: rgba(0, 0, 0, 0.25);
  stroke-width: 2px; }

.wo.nb .wo-shadow, .wo .nb .wo-shadow {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15); }

.wo.nb .wo-container, .wo .nb .wo-container {
  border: solid 1px rgba(231, 231, 231, 0.5);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15); }

.wo.nb .wo-menu-item, .wo .nb .wo-menu-item {
  border: solid 0px silver; }

.wo.nb .wo-menu-item:hover, .wo.nb .wo-menu-item:active, .wo .nb .wo-menu-item:hover, .wo .nb .wo-menu-item:active {
  background: #417DBC;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15); }

.wo .wo-hidden {
  display: none; }

.wo .wo-margin-top {
  margin-top: 6px; }

.wo .wo-margin-top-normal {
  margin-top: 12px; }

.wo .wo-margin-top-medium {
  margin-top: 24px; }

.wo .wo-padding {
  padding: 6px; }

.wo .wo-padding-h {
  padding: 0 6px 0 6px; }

.wo .wo-title h3 {
  font-size: 16px;
  padding: 6px;
  line-height: 24px; }

.wo .wo-float-left {
  float: left; }

.wo .wo-clickable {
  cursor: pointer; }

.wo .wo-text-center, .wo .wo-text-center span, .wo .wo-text-center div {
  text-align: center; }

.wo .wo-clear {
  clear: both;
  max-height: 1px; }

.wo .wo-widget-content {
  line-height: 20px; }

.wo .wo-boundary {
  position: relative;
  margin: 6px; }

.wo .wo-boundary .wo-label {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  padding: 0 0 0 0; }

.wo .wo-widget, .wo .wo-container {
  position: relative;
  min-height: 32px;
  width: 100%; }

.wo .wo-widget, .wo .wo-container, .wo .wo-radius {
  border-radius: 5px;
  overflow: hidden; }

.wo .wo-toggle-module {
  padding: 6px 32px 6px 10px; }

.wo .wo-widget input {
  width: 100%;
  line-height: 20px; }

.wo .wo-widget .toggle
, .wo .wo-boundary .toggle {
  position: absolute;
  right: 6px;
  top: 6px;
  bottom: 6px;
  width: 24px; }

.wo .wo-boundary .toggle svg {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

.wo .wo-menu {
  position: absolute;
  z-index: 99999; }

.wo .wo-menu-item {
  border-radius: 0; }

.wo .wo-menu.wo-boundary, .wo .wo-menu-item.wo-boundary {
  margin: 0; }

.wo .wo-large-title .wo-card .wo-title h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 80px;
  text-align: center; }

.wo .wo-large-title .wo-card .wo-title {
  border-bottom: initial; }

.wo .wo-large-title .wo-padding {
  padding: 0px 50px 50px 50px; }

@media (min-width: 1024px) {
  .wo .wo-fluid-tablet-l .wo-label {
    float: left; }
  .wo .wo-fluid-tablet-l .wo-widget {
    float: right; }
  .wo .wo-fluid-tablet-l .wo-label {
    line-height: 32px;
    margin-top: 1px;
    font-size: 15px;
    text-align: right;
    padding-right: 12px; }
  .wo .wo-fluid-tablet-l .wo-label {
    width: 30%; }
  .wo .wo-fluid-tablet-l .wo-widget {
    width: 70%; } }

@media (min-width: 1280px) {
  .wo .wo-fluid-desktop .wo-label {
    float: left; }
  .wo .wo-fluid-desktop .wo-widget {
    float: right; }
  .wo .wo-fluid-desktop .wo-label {
    line-height: 32px;
    margin-top: 1px;
    font-size: 15px;
    text-align: right;
    padding-right: 12px; }
  .wo .wo-fluid-desktop .wo-label {
    width: 30%; }
  .wo .wo-fluid-desktop .wo-widget {
    width: 70%; } }

@media (min-width: 1440px) {
  .wo .wo-fluid-desktop-lg .wo-label {
    float: left; }
  .wo .wo-fluid-desktop-lg .wo-widget {
    float: right; }
  .wo .wo-fluid-desktop-lg .wo-label {
    line-height: 32px;
    margin-top: 1px;
    font-size: 15px;
    text-align: right;
    padding-right: 12px; }
  .wo .wo-fluid-desktop-lg .wo-label {
    width: 30%; }
  .wo .wo-fluid-desktop-lg .wo-widget {
    width: 70%; } }

.wo .wo-button {
  padding: 12px;
  text-align: center;
  cursor: pointer; }
